body {
    background-color: rgb(58, 58, 58);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.banner {
    background: rgb(225, 220, 235);
    border: 1px solid rgb(225, 100, 100);
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
}

.table-body {
    background: rgb(225, 220, 235);
    width: 100%;
}

.table-body th {
    background: rgb(51, 204, 255);
    padding: 8px 4px;
}

.table-body td {
    background: rgb(135, 205, 235);
    padding: 6px 4px;
}

input {
    box-sizing: border-box;
    width: 100%;
}

.department {
    color: rgb(117, 117, 117);
    width: 100%;
    min-width: 95px;
}

.department option {
    color: rgb(0, 0, 0);
}

.salary {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
