body {
    background-color: rgb(58, 58, 58);
    margin: 0px;
}

.banner {
    background: rgb(225, 220, 235);
    border: 1px solid rgb(225, 100, 100);
    text-align: center;
    margin: 0px;
    padding: 20px 0px;
}

.table-body {
    background: rgb(225, 220, 235);
    width: 100%;
}

.table-body th {
    background: rgb(51, 204, 255);
    padding: 8px 4px;
}

.table-body td {
    background: rgb(135, 205, 235);
}

input {
    box-sizing: border-box;
    width: 100%;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
