<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Employee Database</title>
        <meta charset="UTF-8">
        <link href="styles.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <h1 class="banner">Employee Data</h1>
        <table class="table-body">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Hire Date</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <form class="filter">
                        <td><input type="number" id="id" name="id" placeholder="ID"></td>
                        <td><input type="text" id="firstName" name="firstName" placeholder="First Name"></td>
                        <td><input type="text" id="lastName" name="lastName" placeholder="Last Name"></td>
                        <td><input type="text" id="email" name="email" placeholder="Email"></td>
                        <td><input type="text" id="phone" name="phone" placeholder="Phone"></td>
                        <td><input type="text" id="address" name="address" placeholder="Address"></td>
                        <td><input type="text" id="hireDate" name="hireDate" placeholder="Hire Date"></td>
                        <td><input type="text" id="department" name="department" placeholder="Department"></td>
                        <td><input type="number" id="salary" name="salary" placeholder="Salary"></td>
                        <td>
                            <div class="action">
                                <button type="submit">Search</button>
                                <a href="employee-api"><button type="button">Reset</button></a>
                            </div>
                        </td>

                    </form>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td>[[${employee.id}]]</td>
                    <td>[[${employee.firstName}]]</td>
                    <td>[[${employee.lastName}]]</td>
                    <td>[[${employee.email}]]</td>
                    <td>[[${employee.phone}]]</td>
                    <td>[[${employee.address}]]</td>
                    <td>[[${employee.hireDate}]]</td>
                    <td>[[${employee.department}]]</td>
                    <td>[[${employee.salary}]]</td>
                    <td>
                        <div class="action">
                            <a href="">Edit</a>
                            <a href="">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
